@import "./reset.css";
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import './root.css';

/* elements */
@import "./flex.css";
@import "./border.css";
@import "./gap.css";
@import "./grid.css";
@import "./height.css";
@import "./width.css";
@import "./margin.css";
@import "./padding.css";
@import "./background.css";
@import "./typography.css";


/* components */
@import "../components/button.css";
@import "../components/field.css";
@import "../components/divider.css";
@import "../components/card.css";
@import "../components/accordion.css";




.display-desktop {
  display: none;
}

.overflow-scroll {
  overflow: scroll;
}

.sticky-top {
  position: sticky;
  top: 0;
}
.absolute {
  position: absolute;
}
.top-3rem {
  top: 3rem;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}

.cursor-pointer {
  cursor: pointer;
}
.object-fit-cover{
  object-fit: cover;
}
.z-3 {
  z-index: 3;
}
img{
  filter: drop-shadow(0px 1px 10px var(--grey-100));
}
.backdrop-blur {
  backdrop-filter: blur(8px);
}
@media screen and (min-width: 640px) {
  .sm\:overflow-scroll {
    overflow: scroll;
  }

  .sm\:sticky-top {
    position: sticky;
    top: 0;
  }

  .sm\:cursor-pointer {
    cursor: pointer;
  }
}
/* MD */
@media screen and (min-width: 768px) {
  .md\:overflow-scroll {
    overflow: scroll;
  }

  .md\:sticky-top {
    position: sticky;
    top: 0;
  }

  .md\:cursor-pointer {
    cursor: pointer;
  }
}
/* LG */
@media screen and (min-width: 1024px) {
  .display-mobile {
    display: none;
  }
  .display-desktop {
    display: block;
  }
  .lg\:overflow-scroll {
    overflow: scroll;
  }

  .lg\:sticky-top {
    position: sticky;
    top: 0;
  }

  .lg\:cursor-pointer {
    cursor: pointer;
  }
}
/* XL */
@media screen and (min-width: 1248px) {
  .xl\:overflow-scroll {
    overflow: scroll;
  }

  .xl\:sticky-top {
    position: sticky;
    top: 0;
  }

  .xl\:cursor-pointer {
    cursor: pointer;
  }
}
