.border-grey {
  border: var(--border-grey-100);
}

.border-t-grey {
  border-top: var(--border-grey-100);
}

.border-b-grey {
  border-bottom: var(--border-grey-100);
}
.border-b-dark {
  border-bottom: var(--border-grey-dark);
}

.border-r-grey {
  border-right: var(--border-grey-100);
}

.border-b-none {
  border-bottom: none;
}
.border-none {
  border: none !important;
}
.border-radius-375 {
  border-radius: var(--radius);
}
.border-red-200 {
  border: var(--border-red-200);
}
.border-r-red-200 {
  border-right: var(--border-red-200);
}
.border-b-red-200 {
  border-bottom: var(--border-red-200);
}

/* SM */
@media screen and (min-width: 640px) {
  .sm\:border-grey {
    border: var(--border-grey-100);
  }

  .sm\:border-b-grey {
    border-bottom: var(--border-grey-100);
  }

  .sm\:border-r-grey {
    border-right: var(--border-grey-100);
  }
}
/* MD */
@media screen and (min-width: 768px) {
  .md\:border-grey {
    border: var(--border-grey-100);
  }

  .md\:border-b-grey {
    border-bottom: var(--border-grey-100);
  }

  .md\:border-r-grey {
    border-right: var(--border-grey-100);
  }
}
/* LG */
@media screen and (min-width: 1024px) {
  .lg\:border-grey {
    border: var(--border-grey-100);
  }

  .lg\:border-b-grey {
    border-bottom: var(--border-grey-100);
  }

  .lg\:border-r-grey {
    border-right: var(--border-grey-100);
  }
}
/* XL */
@media screen and (min-width: 1248px) {
  .xl\:border-grey {
    border: var(--border-grey-100);
  }

  .xl\:border-b-grey {
    border-bottom: var(--border-grey-100);
  }

  .xl\:border-r-grey {
    border-right: var(--border-grey-100);
  }
}
