.m-auto {
  margin: auto;
}

.m-2 {
  margin: 0.5rem;
}

.m-4 {
  margin: 1rem;
}

.m-6 {
  margin: 1.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.my-16 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my-20 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mt-auto {
  margin-top: auto;
}

.mt-2 {
  margin-top: 0.5rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-16 {
  margin-top: 4rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-8 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 1rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.ml-auto {
  margin-left: auto;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}
@media screen and (min-width: 640px) {
  .sm\:m-auto {
    margin: auto;
  }

  .sm\:m-2 {
    margin: 0.5rem;
  }

  .sm\:m-4 {
    margin: 1rem;
  }

  .sm\:m-6 {
    margin: 1.5rem;
  }

  .sm\:my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .sm\:my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .sm\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .sm\:mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .sm\:mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .sm\:mt-auto {
    margin-top: auto;
  }

  .sm\:mt-2 {
    margin-top: 0.5rem;
  }

  .sm\:mb-2 {
    margin-bottom: 0.5rem;
  }

  .sm\:mb-4 {
    margin-bottom: 1rem;
  }

  .sm\:ml-auto {
    margin-left: auto;
  }

  .sm\:ml-2 {
    margin-left: 0.5rem;
  }

  .sm\:mr-2 {
    margin-right: 0.5rem;
  }
}

/* MD */
@media screen and (min-width: 768px) {
  .md\:m-auto {
    margin: auto;
  }

  .md\:m-2 {
    margin: 0.5rem;
  }

  .md\:m-4 {
    margin: 1rem;
  }

  .md\:m-6 {
    margin: 1.5rem;
  }

  .md\:my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .md\:my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .md\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .md\:mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .md\:mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .md\:mt-auto {
    margin-top: auto;
  }

  .md\:mt-2 {
    margin-top: 0.5rem;
  }

  .md\:mb-2 {
    margin-bottom: 0.5rem;
  }

  .md\:mb-4 {
    margin-bottom: 1rem;
  }

  .md\:ml-auto {
    margin-left: auto;
  }

  .md\:ml-2 {
    margin-left: 0.5rem;
  }

  .md\:mr-2 {
    margin-right: 0.5rem;
  }
}
/* LG */
@media screen and (min-width: 1024px) {
   .lg\:m-auto {
    margin: auto;
  }

  .lg\:m-2 {
    margin: 0.5rem;
  }

  .lg\:m-4 {
    margin: 1rem;
  }

  .lg\:m-6 {
    margin: 1.5rem;
  }

  .lg\:my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .lg\:my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .lg\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .lg\:mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .lg\:mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .lg\:mt-auto {
    margin-top: auto;
  }

  .lg\:mt-2 {
    margin-top: 0.5rem;
  }

  .lg\:mb-2 {
    margin-bottom: 0.5rem;
  }

  .lg\:mb-4 {
    margin-bottom: 1rem;
  }

  .lg\:ml-auto {
    margin-left: auto;
  }

  .lg\:ml-2 {
    margin-left: 0.5rem;
  }

  .lg\:mr-2 {
    margin-right: 0.5rem;
  }
}
/* XL */
@media screen and (min-width: 1248px) {
  .xl\:m-auto {
    margin: auto;
  }

  .xl\:m-2 {
    margin: 0.5rem;
  }

  .xl\:m-4 {
    margin: 1rem;
  }

  .xl\:m-6 {
    margin: 1.5rem;
  }

  .xl\:my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .xl\:my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .xl\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .xl\:mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .xl\:mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .xl\:mt-auto {
    margin-top: auto;
  }

  .xl\:mt-2 {
    margin-top: 0.5rem;
  }

  .xl\:mb-2 {
    margin-bottom: 0.5rem;
  }

  .xl\:mb-4 {
    margin-bottom: 1rem;
  }

  .xl\:ml-auto {
    margin-left: auto;
  }

  .xl\:ml-2 {
    margin-left: 0.5rem;
  }

  .xl\:mr-2 {
    margin-right: 0.5rem;
  }
}
