details {
  padding: var(--size-4) var(--size-2);
  position: relative;
}
summary {
  display: flex;
  align-items: center;
  cursor: pointer;
}
summary:hover {
  text-decoration: underline;
}

details[open] summary ~ * {
  animation: open 0.5s ease-in-out;
}
@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

details[open] summary {
  margin-bottom: var(--size-4);
}

summary::after {
  content: var(--content-arrow);
  transform: rotate(90deg);
  font-size: var(--base-font-size);
  font-weight: var(--font-semibold);
  position: absolute;
  right: 10px;
  transition: transform 0.3s ease-in-out;
  color: var(--red-200);
}

details[open] summary::after {
  content: var(--content-arrow);
  transform: rotate(270deg);
  font-size: var(--base-font-size);
  font-weight: var(--font-semibold);
  color: var(--red-200);
}
