blockquote {
  border-left: 4px solid var(--red-200);
  padding: var(--size-6);
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  position: relative;
}

blockquote:before {
  color: var(--red-200);
  content: var(--content-quote);
  font-size: 4rem;
  position: absolute;
  top: var(--size-2);
  left: var(--size-2);
}

