button {
  background: var(--red-200);
  color: var(--white);
  padding: var(--size-2) var(--size-4);
  border: var(--border-transparent);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  cursor: pointer;
  height: 2.25rem;
}
button:hover{
  border: var(--border-red-300);
  background: var(--red-300);
  color: var(--white);
}
button:active{
  border: var(--border-red-500);
  background: var(--red-500);
  color: var(--white);
}
/* secondary */
button.secondary {
  border: var(--border-red-200);
  background: var(--white);
  color: var(--red-200);
}

button.secondary:hover {
  border: var(--border-red-300);
  background: var(--white);
  color: var(--red-300);
}
button.secondary:active{
  border: var(--border-red-500);
  background: var(--white);
  color: var(--red-500);
}

/* link */
button.link,
a {
  background: none;
  border: none;
  color: var(--dark);
  font-weight: var(--font-semibold);
}
button.link:hover,
a:hover {
  opacity: 0.9;
}
/* disabled */
button[disabled] {
  cursor: not-allowed;
  border: var(--border-red-100);
  background: var(--red-100);
  color: var(--red-200);
}
button[disabled].secondary{
  border: var(--border-grey-100);
  background: var(--white);
  color: var(--grey-100);
}

