button {
  background: var(--red-200);
  color: var(--white);
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  cursor: pointer;
  height: 2.25rem;
  font-size: 0.875rem;
  font-weight: 500;
}
button:hover{
  border: var(--border-red-300);
  background: var(--red-300);
  color: var(--white);
}
button:active{
  border: var(--border-red-500);
  background: var(--red-500);
  color: var(--white);
}
/* secondary */
button.secondary {
  border: var(--border-red-200);
  background: var(--white);
  color: var(--red-200);
}
/* danger */
button.secondary:hover {
  border: var(--border-red-300);
  background: var(--white);
  color: var(--red-300);
}
button.secondary:active{
  border: var(--border-red-500);
  background: var(--white);
  color: var(--red-500);
}

/* link */
button.link,
a {
  background: none;
  border: none;
  color: var(--dark);
  font-weight: 500;
}
button.link:hover,
a:hover {
  opacity: 0.9;
}
/* disabled */
button[disabled] {
  cursor: not-allowed;
  border: var(--border-red-100);
  background: var(--red-100);
  color: var(--red-200);
}
button[disabled].secondary{
  border: var(--border-grey-100);
  background: var(--white);
  color: var(--grey-100);
}

