div.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background:var(--white);
  border: var(--border-grey-100);
  border-radius: var(--radius);
  filter: var(--drop-shadow);
}
.card-header {
  padding: var(--size-6);
  display: flex;
  gap:var(--size-2);
}

.card-title {
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.025em;
}
.card-description {
  color: var(--grey-200);
  font-size: 0.875rem;
  line-height: 1.25rem;
}
div.card-body {
  display: flex;
  gap: var(--size-4);
  padding-left: var(--size-6);
  padding-right: var(--size-6);
  padding-bottom: var(--size-6);
}
div.card-footer {
  padding-left: var(--size-6);
  padding-right: var(--size-6);
  padding-bottom: var(--size-6);
}
