div.card {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  display:grid;
  grid-template-rows: auto 1fr auto;
  background:var(--white);
  border: var(--border-grey-100);
  border-radius: var(--radius);
  filter: var(--drop-shadow);
}
.card-header {
  padding: var(--size-4);
  display: flex;
  gap:var(--size-2);
}


div.card-body {
  display: flex;
  gap: var(--size-4);
  padding-left: var(--size-4);
  padding-right: var(--size-4);
  padding-bottom: var(--size-4);
}
div.card-footer {
  padding-left: var(--size-4);
  padding-right: var(--size-4);
  padding-bottom: var(--size-4);
}
