div.field {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: var(--size-4);
}
input {
  color: var(--dark);
  border-radius: var(--radius);
  border: var(--border-grey-100);
  outline: none;
  font-size: var(--font-size-small);
  padding: 0.25rem 0.75rem;
  height: 2.25rem;
  box-shadow: var(--shadow);
}
input:focus {
  outline: var(--border-dark);
  border-radius: var(--radius);
}

textarea {
  color: var(--dark);
  border-radius: var(--radius);
  border: var(--border-grey-100);
  outline: none;
  font-size: var(--font-size-small);
  padding: 0.25rem 0.75rem;
  box-shadow: var(--shadow);
  resize: none;
}

textarea:focus {
  outline: var(--border-dark);
  border-radius: var(--radius);
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:focus {
  outline: none;
}
input[type="checkbox"] + label {
  display: inline-flex;
  align-items: center;
  text-align: center;
  gap: var(--size-2);
}
input[type="checkbox"] + label::before {
  content: "";
  border-radius: var(--radius);
  border: var(--border-grey-100);
  box-shadow: var(--shadow);
  background: var(--white);
  width: 18px;
  height: 20px;
  margin: 2px;
  display: inline-flex;
  text-align: center;
  cursor: pointer;
}
input[type="checkbox"]:checked + label::before {
  content: var(--content-checked);
  background: var(--red-200);
  border:var(--border-transparent);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;

}

input:checked {
  accent-color: var(--red-200);
}
/* select */
select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0.75rem 0.75rem;
  height: 2.25rem;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}
.select {
  width: 100%;
  border: var(--border-grey-100);
  border-radius:var(--radius);
  font-size: var(--font-size-small);
  cursor: pointer;
  line-height: 1.1;
  background-color: var(--white);
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
}
.select::after {
  content: "";
  width: 0.8em;
  height: var(--size-2);
  background-color: var(--grey-100);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  position: absolute;
  right: var(--size-4);
}

select:focus {
  border: var(--border-dark);
  border-radius: var(--radius);
}
.outline-none:focus {
  outline: none !important;
}
