.bg-primary{
  background:var(--dark);

}
.bg-danger {
  background: var(--red);
}
.bg-secondary {
  background: var(--secondary);
}
.bg-white {
  background: var(--white);
}
.bg-light{
  background:var(--light);
}
.bg-homard{
  background:var(--homard);
}
.hover\:bg-light:hover{
  background: var(--light);
}
.hover\:bg-secondary:hover{
  background: var(--secondary);
}
.hover\:opacity:hover{
  opacity: 0.9;
}