/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* breakpoints */
@import "./breakpoints/xs.css";
@import "./breakpoints/sm.css";
@import "./breakpoints/md.css";
@import "./breakpoints/lg.css";
@import "./breakpoints/xl.css";

/* components */
@import "./components/button.css";
@import "./components/field.css";
@import "./components/divider.css";
@import "./components/card.css";
@import "./components/accordion.css";

/* elements */
@import "./background.css";
@import "./text.css";

* {
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

:root {
  --dark: #18181b;
  --light: #f5f5f8;
  --secondary: #e4e4e7;
  --grey: #71717a;
  --white: #ffffff;
  --red: #e84a6c;
  --lagoon: #1d82e1;
  --rose: #f9daff;
  --lila: #ecdaff;
  --océan: #dae3ff;
  --mauve: #e0daff;
  --rivière: #daeeff;
  --ciel: #dafafe;
  --menthe: #dafff7;
  --pistache: #daffec;
  --citron-vert: #ecffda;
  --citron-jaune: #f9ffda;
  --soleil: #fff8de;
  --orange: #ffe9e0;
  --saumon: #ffe0e0;
  --homard: #ffdae0;
  --beige: #f7f1e0;
}

.uk-card {
  background: white;
}
