@media screen and (min-width: 768px) {
  /* MARGIN */
  .md\:m-auto {
    margin: auto;
  }

  .md\:m-2 {
    margin: 0.5rem;
  }

  .md\:m-4 {
    margin: 1rem;
  }

  .md\:m-6 {
    margin: 1.5rem;
  }

  .md\:my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .md\:my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .md\:mx-auto{
    margin-left: auto;
    margin-right: auto;
  }

  .md\:mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .md\:mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .md\:mt-auto {
    margin-top: auto;
  }

  .md\:mt-2 {
    margin-top: 0.5rem;
  }

  .md\:mb-2 {
    margin-bottom: 0.5rem;
  }

  .md\:mb-4 {
    margin-bottom: 1rem;
  }

  .md\:ml-auto {
    margin-left: auto;
  }

  .md\:ml-2 {
    margin-left: 0.5rem;
  }

  .md\:mr-2 {
    margin-right: 0.5rem;
  }

  /* PADDING */
  .md\:p-4 {
    padding: 1rem;
  }

  .md\:py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .md\:py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .md\:py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .md\:px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .md\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .md\:pt-2 {
    padding-top: 0.5rem;
  }

  .md\:pt-4 {
    padding-top: 1rem;
  }

  .md\:pb-2 {
    padding-bottom: 0.5rem;
  }

  .md\:pl-2 {
    padding-left: 0.5rem;
  }

  .md\:pb-4 {
    padding-bottom: 1rem;
  }

  .md\:pr-2 {
    padding-right: 0.5rem;
  }

  /* GAP */
  .md\:gap-2 {
    gap: 0.5rem;
  }

  .md\:gap-4 {
    gap: 1rem;
  }

  /* FLEX */
  .md\:flex {
    display: flex;
  }
  
  .md\:flex-col {
    flex-direction: column;
  }
  
  .md\:flex-row {
    flex-direction: row;
  }

  .md\:flex-wrap {
    flex-wrap: wrap;
  }

  /* JUSTIFY CONTENT */
  .md\:justify-center {
    justify-content: center;
  }

  .md\:justify-around {
    justify-content: space-around;
  }

  .md\:justify-between {
    justify-content: space-between;
  }

  /* ALIGN ITEMS */
  .md\:items-center {
    align-items: center;
  }

  .md\:text-center {
    text-align: center;
  }

  /* BLOCK */
  .md\:block {
    display: block;
  }

  /* GRID */
  .md\:grid {
    display: grid;
  }

  .md\:grid-rows-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-rows-3 {
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-flow-col {
    grid-auto-flow: column;
  }

  /* HEIGHT */
  .md\:h-36rem {
    height: 36rem;
  }

  .md\:h-48rem {
    height: 48rem;
  }

  .md\:h-full {
    height: 100%;
  }

  .md\:max-h-full-vh {
    height: 100vh;
  }

  /* WIDTH */
  .md\:w-96 {
    width: 24rem;
  }

  .md\:w-75 {
    width: 75%;
  }

  .md\:w-full {
    width: 100%;
  }
  
  .md\:max-w-30rem {
    max-width: 30rem;
  }

  .md\:max-w-7xl {
    max-width: 80rem;
  }

  /* BORDER */
  .md\:border-grey {
    border: 1px solid #e2e8f0;
  }

  .md\:border-b-grey {
    border-bottom: 1px solid #e2e8f0;
  }

  .md\:border-r-grey {
    border-right: 1px solid #e2e8f0;
  }

  /* BACKGROUND */
  .md\:bg-grey {
    background: #f9fbfd;
  }

  /* OVERFLOW */
  .md\:overflow-scroll {
    overflow: scroll;
  }

  /* POSITION */
  .md\:sticky-top {
    position: sticky;
    top: 0;
  }

  /* TEXT DECORATION */
  .md\:underline {
    text-decoration: underline;
  }

  /* CURSOR POINTER */
  .md\:cursor-pointer {
    cursor: pointer;
  }

  /* FONT SIZE */
  .md\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
